<!-- Wrapper for two divs -->
<div class="wrapper">
  <div class="one">
      <input [(ngModel)]="animal" (keyup)="onKeyUp($event)" placeholder="Search" class="animal-dropdown-input">
        <div *ngIf="showDropDown">
            <div class="animals-container-dropdown">
              <div *ngFor="let animal of animals; let i=index" (mouseover)="handleDropDownMouseOver($event)" currIndex = i [ngClass]="{'animal-list-active': currIndex === i  }" (click)="handleDropDownClick(animal)" class="animal">{{animal}}</div>
          </div>
          
        </div>
  </div>
  
  <div *ngIf="showDropDownAttr" class="two"> 
  <div>      
      <input [(ngModel)]="selected_attribute" (click)="handleAttributeListClick()" placeholder="Choose Characteristic" class="attribute-dropdown-input">
      <div *ngIf="showAttrList">
          <div class="attributes-container-dropdown">
            <div (mouseover)="handleDropDownMouseOver($event)" *ngFor="let attribute of attributes; let i=index" currIndex = i [ngClass]="{'attribute-list-active': currIndex === i  }" (click)="handleAttrDropDownClick(attribute)" class="attribute">{{attribute}}</div>
        </div>
    </div>
  </div>
</div>




















